[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
feedparser = "*"
atproto = "*"
html2text = "*"
python-dotenv = "*"
tweepy = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.12"
